.App {
  text-align: center;
}

.main-input {
  padding: 10px;
  margin: 10px;
  font-size: 20px;
  width: 50%;
}

.main-submit {
  padding: 10px;
  margin: 10px;
  font-size: 20px;
  cursor: pointer;
  border-radius: 5px;
  border: none;
  background-color: #007bff;
  color: white;
  transition: background-color 0.3s, box-shadow 0.3s;
}

.list-item {
  padding: 5px;
  font-size: 20px;
}

.completed {
  text-decoration: line-through;
  color: gray;
}

.incomplete {
  text-decoration: none;
  color: black;
}

.list-button {
  font-size: 15px;
  padding: 5px;
  margin: 5px;
  border-radius: 5px;
  cursor: pointer;
  border: none;
  transition: background-color 0.3s, box-shadow 0.3s;
}

.edit-button {
  background-color: #007bff;
  color: white;
}

.edit-button:hover {
  background-color: #0056b3;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.edit-input {
  padding: 5px;
  margin: 5px;
  font-size: 20px;
}

.edit-submit {
  padding: 5px;
  margin: 5px;
  font-size: 20px;
  cursor: pointer;
  border-radius: 5px;
  border: none;
  background-color: #007bff;
  color: white;
  transition: background-color 0.3s, box-shadow 0.3s;
}

.delete-button {
  background-color: #dc3545;
  color: white;
}

.delete-button:hover {
  background-color: #c82333;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}